<div class="modal" id="authModal">
    <div class="modal-content">
        <h2>Регистрация</h2>
        <form id="authForm">
            <input type="text" id="nicknameInput" placeholder="Введите никнейм" required>
            <input type="password" id="passwordInput" placeholder="Введите пароль" required>
            <button type="submit">Войти / Зарегистрироваться</button>
        </form>
    </div>
</div>

<div class="modal" id="userSearchModal" style="display: none;">
    <div class="modal-content">
        <h2>Поиск пользователей</h2>
        <input type="text" id="userSearchInput" placeholder="Введите имя пользователя">
        <div id="userSearchResults"></div>
        <button id="closeSearchModal">Закрыть</button>
    </div>
</div>
